[2017-03-25 16:50] mohebifar opened #1 "Reference to the original component"
Thank you for this good package. I found it very interesting that supports both Gregorian and Jalali calendars. I just think that it's nice to refer to the original package ([evandhq/react-persian-datepicker](https://github.com/evandhq/react-persian-datepicker)) in the README as it's not an actual fork and the files are copied (which is totally fine) so the users will have a hard time finding the

[2017-03-25 18:36] mberneti commented on #1
Thanks!
I'll improve the README soon.

[2017-03-25 18:38] #1 closed

[2017-08-27 08:03] AmirGh72 opened #2 "bootstrap modal bug"
datepicker appearing behind of bootstrap modal. what should I do?

[2017-08-27 09:58] mberneti commented on #2
can u show me a example with [jsfiddle](https://jsfiddle.net/)?

[2017-08-27 11:58] AmirGh72 commented on #2
**my problem image:**
![test](https://user-images.githubusercontent.com/25684809/29749554-392bc004-8b44-11e7-8059-b5003e5de370.png)

**my react code:**
`
import React from 'react';
import moment from 'moment-jalaali';
import DatePicker from 'react-datepicker2';

class TestDatePicker extends React.Component {
  constructor(props){
    super(props);

    this.state = {
      date : moment()
    };

[2017-08-27 12:01] AmirGh72 commented on #2
**my problem image:**
![test](https://user-images.githubusercontent.com/25684809/29749570-df7afaec-8b44-11e7-9883-87085d121d96.png)

**my react code:**
`
import React from 'react';
import moment from 'moment-jalaali';
import DatePicker from 'react-datepicker2';

class TestDatePicker extends React.Component {
  constructor(props){
    super(props);

    this.state = {
      date : moment()
    };

[2017-08-27 12:03] AmirGh72 commented on #2
**my problem image:**
![test](https://user-images.githubusercontent.com/25684809/29749603-5249d1ba-8b45-11e7-8dc8-f0ca9a4e0af2.png)

[code]

[2017-08-27 13:56] #2 closed

[2017-09-28 18:26] pMonfared opened #3 "مشکل در دریافت تاریخ شمسی"
<div dir="rtl">
برای مثال :
در یک state قرار می گیرد value
اما value ای شبیه به 1396/7/6 نیست
بلکه یک object هست که یه سری func و _d (که به صورت میلادی هست) خروجی میدهد
در ضمن چطور میشه یک تاریخ رشته ای "1396/7/6" رو به این کامپوننت تزریق کرد
برای مثال درحالت های ویرایش یک موجودیت؟
@mberneti
</div>

[2017-09-28 18:37] pMonfared commented on #3
![image](https://user-images.githubusercontent.com/10448255/30984055-1a3e32e4-a499-11e7-9900-d61e59ebc926.png)
زمان انتخاب تاریخ و صدا زدن
onChange
متغیری به شکل بالا دریافت میشه
که مد نظر من و بیشتر افرادی که ازین پیکر بخوان استفاده کنن
دریافت تاریخ خورشیدی به شکل زیر هست
"1396/7/6"

از
MomentJalali
و متود های تبدیل و
valid
هم استفاده کردم اما در یک
loop
بی انتها قرار میگیرد سیستم
OnChange

[2017-09-29 01:26] pMonfared commented on #3
چطور میشه یه تاریخ رشته ای
"1396/7/7"
بهش داد
که نمایش بده؟

من با moment_jalaali
امتحان کردم اما جواب نمیده

m = moment('1360/5/26', 'jYYYY/jM/jD')
خروجی m
با خروجی
value خود datePicker یکسان نیست و در loop قرار میگیره

[2017-09-29 01:45] pMonfared opened #4 "خطا در زمان انتخاب ماه"
<div dir="rtl">

1. نمایش تاریخ به صورت فینگلیش هست
2. در زمان انتخاب ماه کامپوننت از کار می افته

![image](https://user-images.githubusercontent.com/10448255/30997519-3fab576e-a4d5-11e7-9571-bf32ed565d92.png)

![image](https://user-images.githubusercontent.com/10448255/30997512-32f4bb00-a4d5-11e7-9f0e-e1e1a39c0a41.png)

@mberneti
</div>

[2017-09-29 02:14] pMonfared commented on #4
[code]

[2017-09-29 08:47] #3 closed

[2017-11-19 17:43] aminsource commented on #4
loadPersian method:

moment.loadPersian()

[2017-12-21 04:50] aminsource opened #8 "Please add feature to hide datepicker after user choosed a day"

[2017-12-21 16:39] Mrshcom opened #9 "Uncaught Error"
Hi,
I have some problem when load component and show error in console devTools:
`Uncaught Error: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded`

please help me to fix this.

[2017-12-22 09:03] mberneti commented on #8
I'll add this feature ASAP.

[2017-12-22 09:04] #4 closed

[2018-01-07 07:40] zamanphp opened #11 "اختصاص inptuname"
میخوام از این کامپوننت در فرم جستجو استفاده کنم که از تاریخ تا فلان تاریخ
چطور میکنم به اینپوت هائی که ساخته شده نام اختصاص بدم
مثلا date_from, date_to

[2018-01-08 11:24] #11 closed

[2018-03-25 14:30] p30help opened #12 "عدم سازگاری با ری اکت نسخه 16"
با سلام و احترام
به نظر میرسه که این کامپوننت با ری اکت نسخه ی 16 سازگار نیست
![2222](https://user-images.githubusercontent.com/13134454/37876231-c457ef30-305e-11e8-834e-381dc5315a27.png)

[2018-03-25 14:45] mberneti commented on #12
<div dir='rtl'>
@p30help مچکرم
</div>

[2018-04-01 12:05] pouyajabbarisani commented on #12
بنده هم همین مشکل رو دارم و مشکل بزرگ تر اینکه هیچ کدوم از انتخابگر های تاریخ پارسی کار نمی کنن :(

[2018-04-02 05:37] mberneti commented on #12
<div dir='rtl'>
@pouyajabbarisani متاسفانه این روزها سربازی دیگه وقتی واسه بروزرسانی نمی‌ذاره.
<br />
برای پیداکردن انتخابگر تاریخ پارسی هم می‌تونی از بچه‌های
<a href="https://t.me/joinchat/AAAAADuurksaUzYjKNFtpA">گروه تهران جی اس</a>
کمک بگیری.
</div>

[2018-04-08 08:24] pMonfared commented on #12
@p30help @mberneti @pouyajabbarisani
https://github.com/Rezania815/react-datepicker2/commit/2c4e0812341a8ad5ba64be520910f279ec5edec7

@Rezania815 Good Work , tnx

[2018-07-21 06:31] Ashkanph commented on #12
من هم مشکل سازگاری با ری‌اکت ۱۶ رو خیلی وقت پیش حل کردم و حجم نسخه خروجی را هم کاهش دادم ولی پول رکوئستم قبول نشده. می‌توانید از نسخه من استفاده کنید:

[نسخه سازگار با ری‌اکت ۱۶](https://github.com/Ashkanph/react-datepicker2)

[2018-07-21 15:20] mberneti commented on #12
@Ashkanph
<div dir='rtl'>
سلام
با تشکر از همکاریتون، دلیل رد شدن پول رکوئست شما رد شدن تست ها در ۳ فایل زیر است.
</div>
<br />
<img src="https://user-images.githubusercontent.com/3443365/43037128-f7742650-8d1e-11e8-8eb8-174b1324b035.PNG" />

[2018-07-25 21:05] cybercoder commented on #12
@Ashkanph You saved my day. I decided to make correction on ```prop-types``` but i see you did it and compiled.

[code]

[2018-07-30 22:12] ammoradi opened #13 "Disabled mode"
Please add a prop to the component to handle **disabled** mode
for example :
``
<DatePicker disabled />
``

[2018-07-31 10:49] mberneti commented on #13
that sounds like a good idea.
currently i don't have much time to work on this project - so improvements from others are definitely welcomed.
please feel free to do so and send a pr.

[2018-07-31 10:49] #13 closed

[2018-07-31 10:56] mberneti commented on #8
Fixed with commit 9c7eddde10f517aa414fc50172ee946046917085

[2018-07-31 10:56] #8 closed

[2018-08-06 08:15] mahdiG opened #14 "Locale is not a function"
![image](https://user-images.githubusercontent.com/4989445/43704955-7ecf08dc-9976-11e8-821c-74bb5efe71e5.png)
My code worked fine but recently I get this error. I haven't changed anything.

[2018-08-06 09:56] mberneti commented on #14
@mahdiG can i see your code?

[2018-08-06 11:15] mahdiG commented on #14
Apparently the back-end has changed the json so the inputValue has changed and causes this error.

[2018-08-06 11:15] #14 closed

[2018-08-25 12:18] reza-agahi opened #15 "Invalid Jalaali year error with isGregorian={false}"
Hi Dear Mohammadreza!
error scenario:
I go to provided section for selecting month,
![image](https://user-images.githubusercontent.com/14848448/44618081-8d071080-a884-11e8-8382-f5dc23daf889.png)

and when I click on each of these months, I get this error and datepicker doesn't update:
![image](https://user-images.githubusercontent.com/14848448/44618063-4f09ec80-a884-11e8-9896-ddbeebea5c0e.png)

Th

[2018-08-27 03:51] mberneti commented on #15
hi
i'll check it out ASAP.

[2018-08-27 05:46] mberneti commented on #15
@reza-agahi can i see your code?

[2018-10-04 15:51] alireza-mh commented on #15
seems like its the same problem that mentioned on issue #4 .
use `moment.loadPersian();` and see if it resolve.

[2018-10-18 19:52] pouyajabbarisani commented on #12
@cybercoder  Where do you implement that?
I'm getting this error:

  month: _react.PropTypes.object.isRequired,

**TypeError: Cannot read property 'object' of undefined**

[2018-10-28 19:52] FareheSoheil commented on #12
@Ashkanph  چه جوری از ماژولی که شما نوشتین میتونیم استفاده کنیم ؟
اگه از یارن اد استفاده کنم همون پکیج قبلیه اضافه نمیشه؟؟؟

[2018-10-29 06:03] Ashkanph commented on #12
با ان‌پی‌ام یا یارن نمیشه، چون اضافه‌ش نکردم. من از خود سورس استفاده کردم (مثل یک کامپوننت که خودتان نوشته باشید به پروژه اضافه‌ش کنید) از فولدر دیست هم میشه استفاده کرد

[2018-10-29 07:42] FareheSoheil commented on #12
@Ashkanph خیلی خیلی مرسی بابت پاسخگویی سریعتون

[2018-12-13 16:10] spostad7 commented on #12
@pouyajabbarisani I am getting the same error

[2019-01-08 08:47] sky93 commented on #12
I get error when use @Ashkanph fork:

[code]

[2019-01-29 14:42] mayyamak commented on #12
آره منم به این مشکل برخوردم. درستش کنیم. حیفه

[2019-01-29 19:44] mberneti commented on #12
<div dir="rtl">
@mayyamak
من منتظر یه pr کاملا درست هستم، واقعا این روزها هیچ تایم خالی ندارم.
</div>

[2019-03-05 14:47] mehrad77 commented on #12
@mberneti پی‌آر کاملن درست چه فایده وقتی کامپوننت کار نمی‌کنه؟

[2019-03-07 12:46] mberneti commented on #12
@mehrad77
<div dir="rtl">
تو دمو مشکلی می‌بینی؟ اگه دیدی یه issue ثبت کن.
</div>

[2019-03-09 11:11] mehrad77 commented on #12
@mberneti
دمو رو نمی‌دونم ولی در نسخه ری‌اکت ۱۶ به بالا امکان استفاده نیست.

[2019-03-10 00:09] mberneti commented on #12
<p dir="rtl">بالاخره با نسخه ۱۶ سازگار شد. 😴 </p>
@p30help @pouyajabbarisani @pMonfared @Ashkanph @mehrad77 @mayyamak @spostad7 @FareheSoheil @sky93 @cybercoder

[2019-03-10 00:13] #9 closed

[2019-03-10 00:13] #12 closed

[2019-03-30 19:51] msabaeian opened #17 "TypeError: Cannot read property 'focus'"
![Capture](https://user-images.githubusercontent.com/13659585/55280973-dce21480-534a-11e9-8953-a549044a6716.PNG)

also in https://mberneti.github.io/react-datepicker2 !

[2019-03-30 19:55] mberneti commented on #17
@msabaeian i'll check it out, ASAP!

[2019-04-15 04:13] hilo2120 commented on #11
مشکل اتریبیوت name هنوز حل نشده؟
من میخوام datepicker رو داخل یه reduxForm استفاده کنم که با name اینپوت ها کار میکنه.

[2019-04-15 17:56] #17 closed

[2019-04-29 12:28] alimzadeh opened #18 "timepicker not working"
با سلام و تشکر از زحمت شما؛
در زمان استفاده از این کامپوننت با دو تا مشکل مواجه شدم:
۱. در مرتبه اول که بخش انتخاب تاریخ نمایش داده میشه، باکس مربوط به انتخاب زمان نمایش داده نمیشه (در شرایطی که مقدار پیش فرض نداشته باشه)
۲. بعد از انتخاب تاریخ که باکس انتخاب زمان نمایش داده میشه، غیر فعال هست و امکان انتخاب زمان وجود نداره.

[2019-04-30 11:24] mberneti commented on #18
<p dir="rtl"> سلام @alimzadeh
<br>حتما در اولین فرصت بررسی می‌کنم اما مشکل مورد دوم رو توی دمو نمی‌بینم.
</p>

[2019-05-01 04:01] alimzadeh commented on #18
ممنون؛
مشکل غیر فعال بودن
timepicker
(مشکل دوم)
با تغییر
z-index
برطرف شد. ولی همچنان مشکل اول برای من وجود داره.

[2019-05-19 03:24] mberneti commented on #18
<p dir='rtl'>
@alimzadeh من این issue رو می‌بندم چون بدون داشتن نمونه کد یا مستندات کافی که مشکل دیده بشه کاری نمیشه کرد.
</p>

[2019-05-25 12:19] alimzadeh commented on #18
اگر در همون مثال اول (Default)
متد سازنده به این شکل تغییر کنه:
  constructor(props) {
    super(props);
    this.state = {value: null}; // default value removed
  }
میتونید مشکل رو مشاهده کنید. اگر زمان، مقدار پیش فرض نداشته باشه مرتبه اول نمایش داده نمیشه.

[2019-05-25 12:22] mberneti commented on #18
@alimzadeh
 حتما بررسی می‌کنم

[2019-05-28 02:08] mberneti commented on #18
<p dir="rtl">@alimzadeh از ثبت این گزارش بسیار سپاسگزارم
<br />
هر دو موردی که گفته بودید در نسخه جدید برطرف شد.
</p>

[2019-05-28 02:35] mberneti commented on #18
fixed this in https://github.com/mberneti/react-datepicker2/commit/b0a300e659f2589f1996498b42a7dc7e3e358f5e

[2019-05-28 02:35] #18 closed

[2019-06-01 10:39] pouyajabbarisani opened #20 "Maximum update depth exceeded error on date select"
Below error occurs when selecting the date:

_Uncaught Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops._

my usage:
[code]
(I'm using stateless component)

<img width="1249" alt="Screen Shot 1398-03-11 at 16 38 17" src=

[2019-06-01 11:30] mberneti commented on #20
I need to see more codes @pouyajabbarisani

[2019-06-01 11:49] pouyajabbarisani commented on #20
What section of code do you need?
I've tried the onChange section without using redux's action and/or other types of functions and it works as expected. (using console.log eg: onChange={(value) => console.log(value)})

[2019-06-01 12:07] pouyajabbarisani commented on #20
Just now, I also tried with **classical component** and it occurs the **same error**.

[2019-06-01 12:10] mberneti commented on #20
can i see this **classical component** ?

[2019-06-01 12:16] pouyajabbarisani commented on #20
Sure,
<img width="1079" alt="Screen Shot 1398-03-11 at 16 44 13" src="https://user-images.githubusercontent.com/13765850/58748353-bba5bd80-848c-11e9-8ab5-7e4d81f745a1.png">

[2019-06-01 12:17] pouyajabbarisani commented on #20
Yeah, sure:

<img width="1082" alt="Screen Shot 1398-03-11 at 16 45 43" src="https://user-images.githubusercontent.com/13765850/58748361-db3ce600-848c-11e9-8bf6-0d09bf36fa87.png">

[2019-06-01 12:20] mberneti commented on #20
I'll test it ASAP

[2019-06-01 16:03] mberneti commented on #20
Injected value in onChange call back and value property of datepicker component should be exactly the same[
![727522C4-2807-4FFF-8CBC-15F716808F01](https://user-images.githubusercontent.com/3443365/58750866-7a250a80-84ac-11e9-9297-3dc31d755cd7.jpeg)
](url)

[2019-06-01 16:44] pouyajabbarisani commented on #20
So, how I can set the default value? because It's value isn't a simple JS date

[2019-06-01 17:30] mberneti commented on #20
There is multiple ways:
1.Add a value state to the single agency and in datepicker onChange callback after setting new value call setAdminSingleAgency
2.Add new prop to the agencyReducer for storing simple JS date and then in setAdminSingleAgency after setting this new property (like basicExpireDate), set your system basicExpireDate
And etc

[2019-06-01 17:36] pouyajabbarisani commented on #20
I realized that it needs the 'moment' format type and I have split my date as down below:

[code]

Done, thanks.

[2019-06-01 17:37] #20 closed

[2019-06-01 22:57] pouyajabbarisani commented on #15
It's still not working :( and throwing error some times

[2019-06-02 02:27] mberneti commented on #15
u know, i need to see your code ...

[2019-06-02 07:53] pouyajabbarisani commented on #15
Seems DakePicker generates invalid date, cuz It's throw error for a saved date which selected and generated by itself. (code exactly as same as I explained in https://github.com/mberneti/react-datepicker2/issues/20#issuecomment-497963708)

[2019-06-02 08:11] pouyajabbarisani commented on #15
Oh, It was all about my wrong date formatting. :D

[2019-06-02 08:11] mberneti commented on #15
@pouyajabbarisani
It's not invalid, it's different and based on momentJs date.
That's your fault u should not manipulate the selected value.

[2019-06-02 08:12] mberneti commented on #15
So can I close this issue?

[2019-06-02 08:12] pouyajabbarisani commented on #15
Sure, thanks for everything :)

[2019-06-02 08:14] mberneti commented on #15
You're welcome ;)

[2019-06-15 09:01] fatemehqasemkhani opened #23 "how to disable part of date"
I'd like to add min date and max date, just enable part of month.
Is it possible?

[2019-06-15 18:35] mberneti commented on #23
yep, I'm working on it. @fatemehqasemkhani

[2019-07-01 17:27] mberneti commented on #23
@fatemehqasemkhani now u can use docs for
[limit selection days](https://mberneti.github.io/react-datepicker2/#example-5) or [disable some ranges of date](https://mberneti.github.io/react-datepicker2/#example-6)

[2019-07-01 17:27] #23 closed

[2019-07-01 17:55] fatemehqasemkhani commented on #23
Thank's.

[2019-07-01 17:56] mberneti commented on #23
you're welcome

[2019-07-09 05:27] hadiMh opened #26 "css of calendar"
Hi, this libaray is great. Thank you
I have problem to disable the box-shadow of the calendar. I gave it the style of `styles={{boxShadow: 'none' }}` but it overrides all of the styles and just use this style. I tried to find a file in your project for all of the styles of the calendar to pass it along side of my custom box-shadow but i couldn't find your styles.
Please tell me how can I disable t

[2019-07-09 07:23] mberneti commented on #26
Hey, thanks!
This [link](https://github.com/mberneti/react-datepicker2/blob/cf25e20134d0f1f10b322e9cdf08438bb7e85362/src/styles/style.scss#L8) refer to the project main style file.
I'll improve calendar style customization ASAP but for now u can override calendarContainer class like this:
[code]

[2019-07-09 07:50] hadiMh opened #27 "a little change in customization"
Hi
Two things to change:
First in Calendar.js file on line 109, just make it customizable as we can pass it as prop to make it just MM or YYYYMM. (It can be a true false too)
Second use a prop to pass a callback function to render each day by that function, that function should take:
1.the day object
2.the component that was going to be rendered by default
3.the selected day
4.the current date
The

[2019-07-09 07:56] mberneti commented on #27
Hi
I appreciate your help for improving this project,
I'll work on it asap, but u should know your pr is welcome ;)

[2019-07-09 12:33] hadiMh commented on #27
Ok, tnx
If I improve anything I'd let you know, I would be glad to work on it.

[2019-07-09 12:33] #26 closed

[2019-07-22 06:47] EslahiSani commented on #15
Hi
My problem is the same as the problem explained in this topic (https://github.com/mberneti/react-datepicker2/issues/15#issue-354008227). and here is my code:

[code]
please help me to solve this error.

P.S. : adding or removing the comment line did not solve my problem.

[2019-07-22 06:49] mberneti commented on #15
@EslahiSani I'll check it ASAP.

[2019-07-22 08:45] mberneti commented on #15
@moesaniii you don't need to call loadPersian method of the moment any more, there isn't any problem in the current version.
can u show me the code?

[2019-07-22 08:57] moesaniii commented on #15
@mberneti , loadPersian is commented and I have used the exact code explained in https://github.com/mberneti/react-datepicker2/issues/15#issuecomment-513662934

[2019-07-22 09:06] mberneti commented on #15
@moesaniii I can't see any error in this conditions:
[code]

[2019-07-22 09:50] moesaniii commented on #15
@mberneti conditions of our project:
[code]

[2019-07-25 07:40] mberneti commented on #15
@moesaniii unfortunately i cannot see any problem, so i can't resolve it.

[2019-07-25 07:40] #15 closed

[2019-08-02 10:11] alexwileyy opened #28 "Calendar selected date does not update when value is changed outside of calendar component"
It appears that the calendar does not update when the calendar value is changed outside of the calendar component itself.

For example, I have a calendar component like so
[code]

When the `selectedDate` is passed in on component mount it sets the date correctly showing the current date in a blue outline and the selected date to the date that was passed in via moment.

However, when I try to chang

[2019-08-02 21:42] mberneti commented on #28
I'll check it ASAP

[2019-08-03 11:13] alimzadeh opened #29 "Incorrect format shown when ` isGregorian` field changed multiple"
Hi,
when I change `isGregorian` state in demo (header section) multi times, the format goes incorrect.
this behavior occurred also in my app.
tnx

[2019-08-03 11:27] mberneti commented on #29
Hi
I saw this bug too, to be honest, But this bug had no priority for me.
I'll fix it ASAP.

[2019-08-04 03:26] alimzadeh commented on #29
Sorry for my low accuracy,
First time switch, still has bug :|

[2019-08-04 04:00] mberneti commented on #29
@alimzadeh Thank you for the contribution, I accepted and merged your PR yesterday and released new version of this package on npm (v3.0.2).
You can see new updates on the [demo page](https://mberneti.github.io/react-datepicker2/), Is it still there?

[2019-08-04 04:38] alimzadeh commented on #29
Unfortunately `first time` switch bug still there :( and the code I write in last comment, is my temporary fix for this bug. Because that solution is not good enough to publish in repository, I didn't push this to repository.

[2019-08-04 04:49] mberneti commented on #29
Unfortunately I can't see first time switching bug on the demo page.
And this is your PR https://github.com/mberneti/react-datepicker2/pull/30 , Isn't it?

[2019-08-04 05:04] alimzadeh commented on #29
Yes, this is my PR and I saw your new release, but there is still a bug:
my test scenario:

step 1)
![10](https://user-images.githubusercontent.com/11006666/62419630-59d71f00-b69a-11e9-9960-12cd9e48cf3f.png)
**Correct** (initial state)

Step 2)
![20](https://user-images.githubusercontent.com/11006666/62419631-63608700-b69a-11e9-8fe5-f6b52b806a76.png)
**Wrong**! (the first time switch is clicked, f

[2019-08-04 05:10] mberneti commented on #29
Great, I'll check the code ASAP.

[2019-08-07 06:23] mahyalpr opened #31 "read Only"
how to set readOnly props for react-datepicke2?

[2019-08-07 11:27] mberneti commented on #31
@mahyalpr I'll add this feature ASAP.

[2019-08-09 14:07] mberneti commented on #31
@mahyalpr added new disabling feature and u can set disabled prop of the Datepicker to true when u want to make it readOnly.

[2019-08-09 14:08] #31 closed

[2019-08-09 15:09] #29 closed

[2019-08-09 16:05] mberneti commented on #28
@alexwileyy I tested it, and there isn't any problem with react hook.
u can see the usage sample of the ReactHook with this datepicker [here](https://mberneti.github.io/react-datepicker2/#example-9)

[2019-08-09 16:08] #28 closed

[2019-08-13 18:19] Freydoonk opened #32 "How to set/get null values?"
How to clear date picker and get null or empty value from it?

[2019-08-14 09:58] mberneti commented on #32
You can use `removeDate` property of DatePicker component.
I added a sample of `removeDate` usage [here](https://mberneti.github.io/react-datepicker2/#example-10).

[2019-08-14 09:58] #32 closed

[2019-08-25 05:56] AprinDev opened #34 "multiple date select"
hi
thanks alot for this good product,
it's very good but i need a feature that i've never seen in another persian calendars.
multiple select days , i need to this feature alot , but there is no calendar , did you think about this option or not?
thanks

[2019-08-26 08:06] mberneti commented on #34
Hi, you're welcome
Yes, I'll be working on it ASAP.

[2019-08-26 13:07] afsanefda opened #35 "Is there a way to define Default Value?"
I checked the main file and find out that default value is one of the defined properties :

[code]

But As I try to set default dates I face errors!

[code]

Is there a solution?

[2019-08-26 13:08] mberneti commented on #35
@afsanefda I'll check it ASAP.

[2019-08-27 08:14] afsanefda commented on #35
I've found the solution, you should just pass the initial date in  `moment(props.initialDate)` in the constructor!

[code]

[2019-08-27 08:14] #35 closed

[2019-08-27 09:54] afsanefda opened #36 "Invalid jalali date while setting isGregorian as false!"
This is how I used this Datepicker :

[code]

When I change the date by clicking on the **first page** everything is fine! But after changing the year by the **top arrows** and change the month It throws this error! This happens when  **isGregorian as false** but as soon as I change it into  **isGregorian** as true it's no longer throws an error!

[code]

[2019-08-27 10:29] savalanpour commented on #36
Add in constructor method this line:
`moment.loadPersian({ dialect: 'persian-modern' });`

for example

[code]

[2019-08-31 07:02] ArianKholousi opened #37 "callback is being called twice"
hi.
OnChange callback is being called twice at the same time

[2019-08-31 07:05] mberneti commented on #37
Hi @ArianKholousi
I'll check it ASAP.

[2019-09-06 12:00] #36 closed

[2019-09-24 09:07] mayyamak opened #39 "Calendar import"
I try to import Calendar like this:
`import { Calendar } from 'react-datepicker2'`

But I get the Error
`React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.`

Anyhow when I

[2019-09-24 10:07] mayyamak commented on #39
It fixed when I upgraded from 2.0.5 to latest version.

[2019-09-24 10:07] #39 closed

[2019-09-29 21:36] maryam-mmi opened #40 "how to style the calendar"
How can I style calendar using styled components

[2019-09-30 16:44] Sadeghbayan opened #41 "datepicker won't open."
Hi @mberneti and thx for great work.

for some reason the datepicker won't open.
How to reproduce:
let's say i have a component with list of fields and also a datepicker ( so far so good ).
and i want to display this component on modal after clicking on a button.
after clicking the modal gets open but the datepicker does not open.(I might need to trigger the datepicker again ! )

I'm using Antd de

[2019-09-30 23:11] Sadeghbayan commented on #41
Hello there again
Actually it was my problem and datepicker was hidden under modal.

Best

[2019-09-30 23:11] #41 closed

[2019-10-08 14:03] whossein opened #43 "add year picker"
add year picker when click on year, thanks

[2019-10-16 13:41] sh4msi opened #44 "Does it support react native?"
hi
Does it support react native?

[2019-10-20 11:42] aliazizi opened #45 "defaultValue property not working"
I use this component with defaultValue ( not value )

here is my code

[code]

And I get this error

`TypeError: this.state is undefined` and here  the line`

[code]

[2019-10-20 13:19] aliazizi commented on #36
@afsanefda I think you should add this to document.

[2019-11-02 18:25] mberneti commented on #40
@maryam-mmi You can easily use the 'className' prop.

[2019-11-02 18:25] #40 closed

[2019-11-14 07:24] siolishe opened #48 "Does it support Typescript?"
Is there any way to use it with React Typescript?

[2019-11-25 19:32] alidehghan opened #49 "placeholder"
it is good to support placeholder

[2019-11-25 19:41] alidehghan opened #50 "persian numbers"
It would be nice if persianNumbers is a property.

[2019-11-25 20:45] alidehghan opened #51 "onChange doesn't fire"
When already date selected, onChange won't fire if user wants to clear the input

[2019-11-26 07:39] mberneti commented on #51
@alidehghan I'll check it ASAP.

[2019-11-26 15:27] Aid19801 opened #52 "How to kill the 'Today' button?"
Hi guys, thanks very much for your work on this.

I'm trying to kill the Today button.

Been having a good comb through the code but i can't find `<button class="selectDay">` anywhere.

Tried:
- looking at Calendar.js, dev tools suggests the button is at `CalendarContainer` level

[code]
But that ^^ just renders month/day selectors.

- looking at `onClickOutside` module. Wondered if it might liste

[2019-11-27 12:17] Aid19801 commented on #52
UPDATE: I have gotten around this by injecting a disgustingly-hacky `display: none` at the top of my app for `selectToday`

Would love to see/assist in adding an options prop that kills that button though, if poss.

Thanks. x

[2019-12-02 21:30] catalin321 opened #53 "inputReadOnly -> PropTypes.object"
Hi, this shouldn't be of type 'bool' ?

[2019-12-02 21:39] mberneti commented on #53
Hi @catalin321
I think so, feel free to send a PR.

[2019-12-02 21:39] #53 closed

[2019-12-08 08:26] eternity-wing opened #54 "Empty input bug in jalaali date"
in jalali date time picker with persian digits if you clear the input value it raise exception. you can check it by clearing the second example's input.

[2019-12-08 13:48] mberneti commented on #54
@eternity-wing Thank you, It's a critical issue.

[2019-12-09 02:58] eternity-wing commented on #54
You're welcome, is it solveable!?

On Sun, Dec 8, 2019, 5:18 PM mohammadreza berneti <notifications@github.com>
wrote:

[2019-12-09 20:48] mberneti commented on #37
@ArianKholousi How can I reproduce this bug?

[2019-12-09 20:48] #37 closed

[2019-12-09 20:49] mberneti commented on #54
@eternity-wing in a few minutes :D 👨‍💻

[2019-12-09 21:20] #54 closed

[2019-12-10 06:53] mberneti commented on #51
@alidehghan this issue fixed.

[2019-12-10 06:53] #51 closed

[2019-12-10 07:44] alidehghan commented on #51
thanks

[2019-12-10 07:50] alidehghan opened #56 "mobile-friendly css"
css used is not quite mobile-friendly, and positioning doesn't work properly. please take a look at this [ScreenShot](https://pasteboard.co/IKzxKAx.png).

[2019-12-10 08:02] alidehghan commented on #56
I guess it is related to tether config

[2019-12-10 11:43] aliazizi opened #57 "Warning: Failed prop type: Invalid prop `inputReadOnly` of type `boolean` supplied to `DatePicker`, expected `object`."
```Warning: Failed prop type: Invalid prop `inputReadOnly` of type `boolean` supplied to `DatePicker`, expected `object`.```

the prop type of InputReadOnly is wrong

[2019-12-10 12:24] hilo2120 commented on #43
Year picker is essential for inputs like birthdate,
It would be great if you could add this feature in the next version,

[2019-12-10 13:19] mberneti commented on #52
Hi @Aid19801
Thanks for reporting the issue.
I'll add this feature ASAP.

[2019-12-10 13:22] mberneti commented on #56
@alidehghan I think so.
I think managing the keyboard display on mobile screens is the first step.

[2019-12-10 13:24] mberneti commented on #57
@aliazizi
Thanks for your useful reports and contribution, I'll fix it ASAP.

[2019-12-10 13:26] mberneti commented on #43
@hilo2120 I think so, I'll work on it next week.

[2019-12-13 14:53] irnazari200 opened #58 "Module not found: Can't resolve 'indexof' in react-datepicker2\dist"
hi guys there is a problem with installing this component .i get this error after installing:

/node_modules/react-datepicker2/dist/index.js
Module not found: Can't resolve 'indexof' in 'D:\pezeshkyaran\code\react project\test for calerdar\my-app\node_modules\react-datepicker2\dist'

it appears in package.jason  but still not working:
"react-datepicker2": "^3.0.6",

whats wrong??

[2019-12-13 21:51] #58 closed

[2019-12-20 13:58] mehdiraized opened #60 "Unexpected identifier in import moment-jalaali"
i see this bug in ssr mode
[code]

[2019-12-21 11:42] mberneti commented on #60
@mehdiraized
I think It's something about the last changesets in the building method.
I'll check it soon.

[2019-12-21 12:27] mberneti commented on #60
@mehdiraized Can you test the latest changesets (v3.0.11)?
It seems OK after this commit https://github.com/mberneti/react-datepicker2/commit/5a68ee9a80ba1f214b362156299342bb21c7aef8
![newupdate](https://user-images.githubusercontent.com/3443365/71307913-8ea9ff80-240a-11ea-85c8-360b10e83589.PNG)

[2019-12-21 12:27] #60 closed

[2019-12-21 12:30] #57 closed

[2019-12-21 12:34] mberneti commented on #45
@aliazizi
Why you don't use the value?
I think I should remove this prop, cuz we don't need this.

[2019-12-21 12:48] #52 closed

[2019-12-21 12:51] mberneti commented on #52
@Aid19801
Added new showTodayButton property to the Datepicker and you can see the usage of this feature [here](https://mberneti.github.io/react-datepicker2/#example-2) on the demo page.
![image](https://user-images.githubusercontent.com/3443365/71308148-ea29bc80-240d-11ea-8c16-63b973031d75.png)

[2019-12-21 12:51] #45 closed

[2019-12-21 21:00] aliazizi commented on #45
@mberneti because of this
https://reactjs.org/docs/uncontrolled-components.html

it's part of react feature.

[2019-12-22 06:55] shayegh opened #61 "Compact Style"
Hi,
Is there any way to make the DatePicker smaller and have a compact one for smaller devices?

[2019-12-22 08:32] mberneti commented on #61
Hi @shayegh
I'll work on it ASAP.
Duplicate of https://github.com/mberneti/react-datepicker2/issues/56

[2019-12-22 08:32] #61 closed

[2019-12-22 08:51] mberneti commented on #49
Hi @alidehghan
This feature has been added (v3.0.14) and you can see it's demo [here](https://mberneti.github.io/react-datepicker2/#example-12).

[2019-12-22 08:55] #49 closed

[2019-12-22 08:59] mberneti commented on #44
Hi @sh4msi
Unfortunately not yet.

[2019-12-22 08:59] #44 closed

[2019-12-23 06:56] mani62 opened #62 "Placeholder not showing"
It would be nice if we could display placeholder in input.
How can i do this?

[2019-12-23 08:31] mberneti commented on #62
@mani62 This feature has been implemented.
you can find it [here](https://mberneti.github.io/react-datepicker2/#example-12) on the demo page.

[2019-12-23 09:55] #62 closed

[2019-12-25 07:07] alidehghan commented on #56
I think it would be so good if you can provide a prop on size (e.g. xs, md, lg based on bootstrap standards, or even exact size: 12, 24, 36, etc.) to provide a better look at mobiles, or when this control placed at top of the page and calendar drops up (and part of control hides. like at screenshot). this issue occurs even in screens (not only mobiles).

Many thanks

[2019-12-26 09:34] shayegh opened #64 "I Got Error When Try to test"
Hi,
I'm using your component and when I try to Test my app I get this Error:
[code]
My Test Code
[code]

[2019-12-26 22:48] mehrdad517 commented on #58
این مشکل هنوز حل نشده؟

[2019-12-27 07:44] mberneti commented on #58
@mehrdad517
حل شده

[2019-12-27 08:36] mehrdad517 commented on #58
این مشکل هنوز هست
نسخه 3.0.14
طبق داکیومنت خودش
تست کردید؟

[2019-12-27 08:52] mehrdad517 commented on #58
نسخه روی
npm
مشکل داره
پکیج رو از روی گیت هاب دانلود کردم و اکسترکت کردم توی
node_module
حل شد
@mberneti

[2019-12-28 12:24] mberneti commented on #58
@mehrdad517
<div dir="rtl">
من این مشکل رو با ورژن 3.0.14 npm ندارم.
<br/>
حدس می‌زنم پکیج شما بخوبی بروزرسانی نمیشد.
</div>

[2019-12-28 12:30] mberneti commented on #64
@shayegh
I haven't any problem with this component testing.
I think it's something about your JS project configs.

[2019-12-28 12:30] #64 closed

[2019-12-28 14:15] sassankarimi opened #65 "showToggleButton"
hello.
When use props "showToggleButton" and click on this button in calender format of input value not change.for example when click on toggle butten inside calender, date correctly changed to jalali but input value not change to jalali.
 when I declare button in my component and use that button,input format correctly changed by isGregorian.
but I want change date format by showToggleButton props

[2019-12-28 14:17] mberneti commented on #65
Hello @sassankarimi
I'll check it ASAP.

[2019-12-28 15:28] mberneti commented on #56
@alidehghan
It is a good idea, I'll work on it over the weekend.

[2020-01-01 06:34] penkong commented on #48
seems not and also there is no plan for it, anybody knows a jalali calendar with ts support?

[2020-01-03 04:52] irnazari200 commented on #58
عرض سلام و درود
پوزش بنده بابت پاسخگویی دیر به ایمیلتان را بپذیرید .متاسفانه مشکلی پیش امده
بود.
امروز نصبش کردم خدارو شکر درست شده و نصب میشه .منتها یه مشکلی که برام پیش
اومده اینه که من این کامپوننت رو روی framework7  استفاده می کنم و باعث شده
که درست نشون داده نشه.ظاهرا استایل ها به تداخل میخورند و هر چه تلاش کردم
نتوانستم تقویم را ظاهر کنم ممنون میشم بفرمایید چکار کنم .عکس نحوه نمایشش رو
هم بر

[2020-01-03 10:36] mberneti commented on #58
@irnazari200
<div dir="rtl">
سلام
<br />
خواهش می‌کنم، برای بررسی نیاز به نمونه کد شماست و اینکه تصویر مشکل شما به خوبی بارگذاری نشد.
</div>

[2020-01-04 04:28] irnazari200 commented on #58
عرض سلام مجدد
جناب برنتی خدارو شکر درست شد. نیاز بود یه z-index=10000  بهش میدادم!فکر نمی
کردم فریم ورک 7 تا این حد به استایل های خودش z-index داده باشه.
بازم تشکر میکنم از پاسخگویی و کمکتون بابت نصب این تقویم خوب، ممنون

On Fri, Jan 3, 2020 at 2:06 PM mohammadreza berneti <
notifications@github.com> wrote:

[2020-01-04 10:56] mberneti commented on #58
@irnazari200
<div dir="rtl">
سلام
<br />
خدارو شکر مشکلتون حل شد.
<br />
واقعا
 مشکل عجیبی بود.
</div>

[2020-01-04 19:46] irnazari200 commented on #58
فقط اگر یه اپشنی به تقویم اضافه می کردین که راحت بشه چند سال کم و زیاد کرد
خیلی خوب میشد. الان یه قسمت هست که میخام تاریخ تولد کاربر رو بگیرم و طرف
مجبوره یه سال یه سال کم کنه تا مثلا برسه به 1365 ! یکم سخته خدایی. امکانش
هست این اپشن رو اضافه کنید مثلا یه اسکرول بخوره که سریع سال انتخاب بشه؟

On Sat, Jan 4, 2020 at 2:26 PM mohammadreza berneti <
notifications@github.com> wrote:

[2020-01-04 20:46] irnazari200 commented on #58
مهندس باید ببخشید من اینقدر مزاحمتون میشم. یه مشکل دیگه ام اینه که وقتی توی
گوشی کاربر تقویم رو باز میکنه صفحه کلید هم باهاش باز میشه که اصلا جالب نیست
متد preventDefault()  v رو روش تست کردم ولی جواب نداد ،توی گوگل هم سرچ کردم
ولی به نتیجه نرسیدم. شما نظری ندارد که چطور جلوی باز شدن کیبورد رو بگیرم؟

‪On Sat, Jan 4, 2020 at 11:16 PM ‫محسن نظری‬‎ <irnazari200@gmail.com>
wrote:‬

[2020-01-07 14:21] pooya-alen1990 opened #66 "range-picker"
Hello Guys!
I can't find range-picker in demo page, would you please inform us from this feature?
Thanks

[2020-01-07 21:55] mberneti commented on #66
Hi
@pooya-alen1990 this feature is last unchecked item in the project's [TODO list](https://github.com/mberneti/react-datepicker2#todo)

[2020-01-07 21:55] #66 closed

[2020-01-10 09:57] aliazizi commented on #45
@mberneti please check my comment

[2020-01-13 06:59] afsanefda opened #67 "Error import momentJalaali from 'moment-jalaali'"
after two months I rebuild my project but it keeps getting this error:

[code]
[code]

Is something changed in the library? It was working fine before! and my production application works fine with the date picker but locally it is not!

[2020-01-13 18:56] mberneti commented on #67
@afsanefda This package has a lot of major updates and I think you should reinstall it.

[2020-01-14 06:03] afsanefda commented on #67
The main problem was the node version and I think some of my babel configs were broken!
remove node_modules folder and yarn install or yarn upgrade.
remove the build folder also and rebuild the project!  In my case, it worked fine!

[2020-01-14 06:03] #67 closed

[2020-01-17 22:19] mortezagolzan opened #68 "returning date value"
hi
how can I get back the value of date?!
according to your doc the value just return a moment like :

F {_isAMomentObject: true, _isUTC: false, _pf: {…}, _locale: Locale, _d: Wed Jan 15 2020 00:00:00 GMT+0330 (Iran Standard Time), …}
_isAMomentObject: true
_isUTC: false
_pf: {empty: false, unusedTokens: Array(0), unusedInput: Array(0), overflow: -2, charsLeftOver: 0, …}
_locale: Locale {_calendar

[2020-01-22 10:30] mmjd commented on #67
change format in rollup.config.js to 'cjs' and run build:dist again to build for commonjs.

[2020-02-03 06:35] sassankarimi commented on #65
hello.
I want to ask,this problem fixed or not?

[2020-02-03 12:24] #65 closed

[2020-02-03 12:35] mberneti commented on #65
Hi @sassankarimi
Yes, this bug fixed today.
Now you can see this feature on the [demo page](https://mberneti.github.io/react-datepicker2/#example-13)
<br />
![newfeature](https://user-images.githubusercontent.com/3443365/73653341-3bc89680-469e-11ea-8ebd-a9421b87d72e.png)

[2020-03-21 19:45] NimaKaviyani opened #69 "Compiling Error in SSR (Next JS)"
Hi,

i see this bug in next js like this issue #60 :
[code]
next version: 9.3.0
react-datepicker2 version: 3.0.15

[2020-03-25 09:08] afsanefda commented on #69
I have the same problem using the latest version 3.0.15!

but it is fine in my previous version which is 3.0.3!
I am using nextjs and conditional imorting is not solving the problem!

[2020-03-25 10:35] NimaKaviyani commented on #69
@afsanefda thank you. The version you mentioned is working.

[2020-03-26 12:18] mohammadranjbar opened #70 "Get unresolved dependecy error"
I got  unresolved dependecy error for react-datepicker2 in IDE and when building with rollup,
and I found that you said this in your package.json
[code]
but your dist folder has just `index.js` file,
I would appreciate if you fix it

[2020-04-12 09:36] aliazizi commented on #48
You can use my type

[code]

Also you are welcome to create pr

[2020-04-12 13:00] mberneti commented on #1
@all-contributors please add @mohebifar for doc and code

[2020-04-12 13:07] mberneti commented on #43
@hilo2120 @whossein this feature added in v3.1.0 and published on the NPM.

[2020-04-12 13:07] #43 closed

[2020-04-12 13:10] mberneti commented on #69
@all-contributors please add @afsanefda for maintenance and question

[2020-04-12 15:16] mberneti commented on #48
@siolishe @penkong this feature added in v3.2.0 based on #72 @aliazizi 's PR and released on the NPM.

[2020-04-12 15:16] #48 closed

[2020-04-14 12:34] theMasix opened #87 "Wrong styles when isGeorgian is false"
Hello.
When the isGerogian is true, the DatePicker element classes are:
[code]
but when it's false:
[code]

So the styling such as positioning and z-index will be wrong when it works with Jalali Date.

I'm new to this project but because it's an strange issue, I think it causes since your last commit. It's a new issue actually.

[2020-04-14 12:39] mberneti commented on #87
@theMasix Thank you.
You noticed an important point and I'll check it.

[2020-04-17 08:17] aliazizi commented on #68
You can get date from moment
https://stackoverflow.com/a/26744045/1827594

[2020-04-18 08:31] #68 closed

[2020-04-18 08:39] mberneti commented on #70
@mohammadranjbar Thank you for issue reporting, I fix it.

[2020-04-18 08:40] #70 closed

[2020-04-19 21:28] theMasix commented on #87
Sorry dude. I think my issue report was a mistake and the problem is somewhere else with the styles not the classes! I'm so sorry if I waste your time to figure out what the bug is.
Actually I figured out that It's a problem with your CSS not the classes that you assign to elements.

Now the problem with z-index and positioning is general and doesn't matter if the DatePicker is set to Georgian or

[2020-04-22 22:18] mberneti commented on #87
@theMasix Great!
You can find me by @mberneti

[2020-04-22 22:18] #87 closed

[2020-05-15 07:38] hanieas opened #88 "عدم نمایش ماه و تاریخ شمسی"
من دقیقا همون فرمی که فرمودید نصب و استفاده کردم ولی تاریخ و ماه ها به صورت میلادی نمایش داده میشن چطوری میتونم حلش کنم؟

[2020-05-15 21:47] mberneti commented on #88
@hanieas
<p dir="rtl">
اگر صفحه‌ی دمو را دیده باشید مثالش هست که برای حالت شمسی مقدار پراپرتی isGregorian برابر false
باید باشد.
</p>
https://mberneti.github.io/react-datepicker2/#example-1

[2020-05-20 05:55] #88 closed

[2020-06-02 06:09] whossein opened #89 "i can click on disabled days on colors!"
زمانی که یک بازه زمانی را برای تقویم تنظیم کرده ام، روی روزهای غیرفعالی که رنگی هستند میتوان کلیک کرد

[2020-06-08 04:54] fundfina opened #90 "Change year arrows functionality"
Change year arrows are wrongly placed
The before year arrow should be on the left and next year on the right

[2020-06-09 11:14] nrmz commented on #43
how to use this feature?

[2020-06-12 15:46] mberneti commented on #90
@fundfina It's work correctly on the demo page

[2020-06-12 15:46] #90 closed

[2020-06-12 15:51] mberneti commented on #89
@whossein I'll check it soon.

[2020-06-12 15:51] mberneti commented on #89
@all-contributors please add @whossein for bug

[2020-06-21 15:53] Moji0098 opened #93 "how can change days of weeks ? ش =>>> شنبه"
add custom option to your package ...
how can change arrow icon ?

[2020-06-28 12:02] buglessir opened #94 "Calendar position"
I've used it inside a Reactstrap Collapse box, but calendar position has problem (sticks to the top of the page) and I think it's because the parent element is collapsible and has relative position ?! ...

Collapse Component: https://reactstrap.github.io/components/collapse/

Thanks

[2020-07-05 09:29] buglessir commented on #94
@mberneti

[2020-07-06 22:56] aliazizi commented on #94
Can you reproduce it in https://codepen.io/?

[2020-07-07 04:43] hilo2120 opened #96 "Call onChange on keyboard event"
It seems that when you change date input using keyboard, input value changes but the onChange function doesn't get fired.
The ability to change date directly from input looks very handy and important

[2020-07-07 06:26] mberneti commented on #96
@hilo2120 What do you think about firing onChange handle after clicking on the enter key?

[2020-07-07 10:10] hilo2120 commented on #96
@mberneti I think clicking the enter key to confirm date change is a little bit odd for regular users, And there may be conflicts with form submission in some scenarios,
I believe firing onChange right after input change would be a better solution

[2020-07-07 11:40] mberneti commented on #96
@hilo2120 It's possible to have invalid input (not completed date) and in this state, we should not fire onChange with an invalid value.
On the other hand, I know after a "final point", we should have a valid date that is the same as the input text, this final point should be at the end of the user typing because It may cause a rollback and change the input

[2020-07-08 13:29] aliazizi commented on #96
It was fixed in
https://github.com/mberneti/react-datepicker2/pull/95

code:
https://github.com/mberneti/react-datepicker2/blob/1dda95a295bf066a0da3eb245b3e86afbb1a7250/src/components/DatePicker.js#L234

I also add `onInputChange` props that fire as user typing ( in case don't you want to set state in `blur` )

[2020-07-11 04:55] hilo2120 commented on #96
@aliazizi I'm using the latest version (3.2.0) that is published 3 months ago according to npmjs.com.
There is no onBlur in this version for DatePicker.
Maybe you haven't published the changes as a new version?

[2020-07-11 04:57] mberneti commented on #96
@hilo2120 I'll do it today.

[2020-07-11 05:08] hilo2120 commented on #96
@mberneti Can we validate input content after every change? I mean not onBlur, exactly on input change.
I think updating state value "onChange" is safer than "onBlur" for some special uses like updating another component in realtime.
I don't know if it really is a better approach, I just think it is!

[2020-07-11 14:48] aliazizi commented on #96
you can use `"react-datepicker2": "mberneti/react-datepicker2#pull/95/head",` in your package.json until the release is ready

I think there is a lot more complex that than `onBlur`. If user enter the wrong date, the date should convert to valid format because of validation, right? and user can't change input because of that. ( for example if user start typing in blank input and add first char for

[2020-07-11 16:03] hilo2120 commented on #96
@aliazizi Thanks for the pull usage instruction, I didn't know that.

Yes your'e right, but the same problem exists for `onBlur`, for example user edits input and puts just a 1 in it and blurs out. What happens to validation?
I will work on `onChange` option and create a pull request if I could make it work as I expected. It's definitely worth a shot.
Thanks a lot @mberneti @aliazizi

[2020-07-12 05:04] #96 closed

[2020-07-12 05:10] mberneti commented on #96
@aliazizi I published a new version of react-datepicker2 on the npm based on @aliazizi PR #95

[2020-07-12 05:29] buglessir commented on #94
Not important!
I've used another package

[2020-07-12 05:29] #94 closed

[2020-07-12 07:13] mberneti commented on #96
@hilo2120 You can see onInputChange usage [here](https://mberneti.github.io/react-datepicker2/#example-14) on the Demo page.

[2020-07-12 07:19] mberneti commented on #50
@alidehghan This feature added in version 3.3.0 and you can see usage persianDigits prop [here](https://mberneti.github.io/react-datepicker2/#example-15) on the Demo page.

[2020-07-12 07:19] #50 closed

[2020-07-12 10:31] hilo2120 commented on #96
@mberneti This behaviour is exactly what I was looking for.
Thanks for updating package and useful demo.

[2020-07-12 11:10] AliNazariii commented on #69
I have same problem.

[code]

What should I do?

[2020-07-15 04:57] vahid18u opened #97 "suggestion for a better look and feel"
Why don't you use higher order component to take a user styled input component with a suitable type and use it as your input? It will help a lot to have a unique look and feel in applications and I believe it's lack is preventing some developers to use your package.

[2020-07-20 09:12] ahmadmrj opened #98 "Blank input"
Is there any way to show blank input and not set default value for the DatePicker element?

[2020-07-29 07:38] dadwic opened #102 "Cannot read property 'isSame' of null"
Hi there,
This error occurs when the component is updated and receive props.

DatePicker.UNSAFE_componentWillReceiveProps
node_modules/react-datepicker2/dist/es/index.js:2927

[code]

[2020-07-29 12:43] mberneti commented on #102
@dadwic Despite I am working on refactoring and it fixes the issue, I'll check it soon.

[2020-07-29 12:52] mberneti commented on #98
@ahmadmrj
So sorry that I’m getting to this now. I will check it soon.

[2020-07-30 09:28] mberneti commented on #102
@dadwic Can you reproduce this error on the [codesandbox](http://codesandbox.io/) ?

[2020-08-01 07:47] hoseinBL commented on #102
I have the same issue here. I don't want to have an initial value. I set `value` to `null` but I face this error:
Uncaught TypeError: Cannot read property 'isSame' of null

[2020-08-01 07:53] mberneti commented on #102
@hoseinBL Thank you for reporting this issue, I'll work on it tonight.

[2020-08-02 04:33] hoseinBL commented on #102
Any good news man?

[2020-08-02 08:14] mberneti commented on #98
Duplicate of #102

[2020-08-02 08:14] #98 closed

[2020-08-02 08:17] #102 closed

[2020-08-02 08:21] mberneti commented on #102
@hoseinBL Yes, this issue fixed on v3.3.4

[2020-08-02 08:24] mberneti commented on #97
@vahid18u It seems a good idea, I'll put that on the TODO list.

[2020-08-04 03:09] hoseinBL commented on #15
I have got same issue here and this is my code:

[code]

[2020-08-05 07:47] Shariaty opened #104 "How to focus or open date picker programmatically"
Is it possible to focus or open date picker programmatically through a function?

[2020-08-05 19:45] vahid18u opened #105 "returned timestamp is inconsistent"
Hello,
I have a DatePicker component with timePicker={false}. When I pick a date by clicking on a number in calendar (including today's number), returned moment's timestamp is truly a timestamp with time 00:00 am on that day, while in the other hand, when I pick today by pushing today's button, the returned timestamp is having non-zero hour and minute and it sounds inconsistent. I guess it would b

[2020-08-07 15:53] TrueMoein commented on #69
Same issue...

[2020-08-09 06:37] hoseinBL commented on #15
Hello @mberneti ?

[2020-08-11 05:27] komailf67 commented on #69
import dynamic from "next/dynamic";
const DatePicker = dynamic(() => import("react-datepicker2"), { ssr: false });
const momentJalaali = dynamic(() => import("moment-jalaali"), { ssr: false });

.
.
.
class Test extends Component {

  state = {
    value: "",
  };

[2020-08-13 13:43] AliNazariii opened #108 "Customize CSS"
Could you please give me an example of changing the default styles?

Thanks in advance.

[2020-08-22 02:01] alikashefi1989 opened #109 "how can remove date?"
when i wanna reset my form or remove datepicker this component has error!
this props have error in ur demo page !!!
https://mberneti.github.io/react-datepicker2/#example-11

#remove date

[2020-08-22 23:48] #109 closed, assigned to nobody

[2020-08-24 00:27] #69 closed

[2020-08-24 00:28] mberneti commented on #69
@NimaKaviyani @afsanefda @AliNazariii @TrueMoein @komailf67 Thank you for the contribution.
This issue fixed on v3.3.11

[2020-08-25 03:14] mberneti commented on #104
@Shariaty No, there isn't but can use [Calendar](https://mberneti.github.io/react-datepicker2/#example-5) as an opened date picker.

[2020-08-25 03:50] Shariaty commented on #104
@mberneti Thank you for your reply. I was creating a range picker which have two date picker for selecting from and to values. I wanted to open the second calender as soon as the first beeing selected. I tackeled it by using pure javascript click event.

[2020-08-25 03:50] #104 closed

[2020-08-27 05:59] lyw1991 opened #110 "How can I set the Timepicker to 24-hour"
![datepicker](https://user-images.githubusercontent.com/18585437/91394547-38c90980-e86d-11ea-876f-55748532db3e.png)
I want to set the Timepicker to 24-hour, and I set showAMPM prop but it doesn't work. How to resolve the promble?

[2020-08-27 11:06] mberneti commented on #110
@lyw1991 There isn't a 24-hour time picker feature yet.

[2020-09-06 08:21] ashkanahrabi opened #112 "Returning Today even when the user didn't click on any date"
There's an issue with the datepicker input.
When the user clicks inside it, the datepicker opens, but if he click off the input (without selecting any date), the _onblur_ event may fire and returns **Today**.

[2020-09-06 20:05] AliNazariii commented on #108
Is there anyone who could help me?

for example, how can I change the calendar's primary color?

[2020-09-07 03:47] mberneti commented on #112
@ashkanahrabi
You can use the [`setTodayOnBlur`](https://github.com/mberneti/react-datepicker2/pull/103/commits/ded43855195b4e8fba0553f13e9aab41ef55672b#diff-70d836e1e5c9f4c4ee3fab8b76f74f5cR43)  property.

[2020-09-09 11:09] alirni commented on #64
Hi!
I have exactly the same problem.
This error only occurs for components that use this module.

Didn't you have a similar problem?

[2020-09-09 12:10] ashkanahrabi commented on #112
@mberneti Thanks. I'm closing this for now but please add this to documents.

[2020-09-09 12:10] #112 closed

[2020-09-10 19:53] mberneti commented on #64
@mberneti I'll check it soon.

[2020-09-12 04:27] alirni commented on #64
You don't need check it.
I update the module and the problem was fixed.
@mberneti tnx 🙏

[2020-09-12 04:51] mberneti commented on #64
@alirni Cool 👍

[2020-09-23 10:56] mashouf opened #114 "onChange is triggered even when user open and just close the picker"
Hi,
It seems onChange is triggered even when user open and just close the picker and do not change anything.
Is there any issue with this and How can I disable this?

[2020-09-23 16:58] mberneti commented on #114
Hi @mashouf
You can use the [setTodayOnBlur](https://github.com/mberneti/react-datepicker2/pull/103/commits/ded43855195b4e8fba0553f13e9aab41ef55672b#diff-70d836e1e5c9f4c4ee3fab8b76f74f5cR43) property.

[2020-09-24 06:55] mashouf commented on #114
Thanks @mberneti
I suggest it would be better the default value be false rather than true and I did not find it in document, anyway the issue is resolved and I am closing this, thank you.

[2020-09-24 06:56] #114 closed

[2020-09-24 07:00] mberneti commented on #114
Cool.
I can't do this for sake of the backward compatibility.

[2020-10-01 11:53] Moji0098 opened #115 "how can unselect day Calendar ?"

[2020-10-01 15:30] mberneti commented on #115
Hi @Moji0098
You can set the null value [like this](https://mberneti.github.io/react-datepicker2/#example-11).

[2020-10-01 18:25] Moji0098 commented on #115
this solution empty value of box that show to user , but i want to unselect day on calendar , i want to have no selected day on calendar !

[2020-10-01 20:51] mberneti commented on #115
@Moji0098 you can set 'setTodayOnBlur' to the 'false' value on v3.3.12.  [check this feature on the demo page](https://mberneti.github.io/react-datepicker2/#example-16)

[2020-10-01 21:24] Moji0098 commented on #115
i would not on blur today , i want onblur prev selected day :)

[2020-10-01 21:42] mberneti commented on #115
The default value of 'setTodayOnBlur' is true for the sake of backward compatibility. And It will automatically select today. So if you want to reset value and prevent auto select today onBlur, you can set its prop to false.
(If you have a selected value, you will get it after triggering onBlur always)
Do you have any problem with the last demo example of removing the date picker value?

[2020-10-01 22:48] Moji0098 commented on #115
[code]
first time when i open calendar to select day none of day is selected , **stamp** variable is null , and i select a day and trigger this code
[code]
 and after that i change  **stamp** variable to null or ' ' or undefined value , but my calendar day be selected on preview day !! how can i do to solve this ?

[2020-10-02 06:27] mberneti commented on #115
The momentJalaali method always returns a valid moment object (even you pass a null stamp), and you should set the value property with the null value.
By the way, there is an [example on demo](https://mberneti.github.io/react-datepicker2/#example-16) without any problem. If you reproduce this problem on the codesandbox, I can help you better.

[2020-10-02 06:47] Moji0098 commented on #115
please check this , thanks :) [example](url)

[2020-10-02 07:29] #115 closed

[2020-10-02 07:50] mberneti commented on #115
@Moji0098 This issue fixed on v3.3.13 and you can set the null value on the `Calendar` component with this code:
[code]
[check it out](https://codesandbox.io/s/unruffled-pond-jikkq?file=/src/App.js:1907-1944
)

[2020-10-10 16:21] mortezakarimi64 opened #116 "In calendar mode, timepicker is not displayed and the showToggleButton does not work"
Hi.
In Calendar mode, if you set the timepicker true, it will not be displayed and also click on the showToggleButton button will not switch between the solar and Gregorian calendars. Also, how to get isGregorian in datepicker mode when press ToggleButton?

[code]

[2020-11-01 09:07] ehssamimi opened #117 "Is there any way to fix data picket placement in bottom"
i need datapicker always open below in the input element is there any way to do that?

[2020-11-14 18:49] ArinMovsesian opened #118 "logical"
when component mount.. onChange handler fire automatically

[2020-11-14 19:42] mberneti commented on #118
@ArinMovsesian I'll check it out.

[2020-11-14 19:46] mberneti commented on #117
@ehssamimi We are using [react-tether](https://github.com/danreeves/react-tether) under the hood. So we can add this feature, but it doesn't exist right now.

[2020-11-15 01:13] MassoudSharifi opened #119 "How to change months name"
Hello 👍
I need to change month's names as my country needs how I can do it? any solution?
thanks for your good package

[2020-11-15 01:33] MassoudSharifi opened #120 "Add z_index for modal of date picker"
How to add  z_index for the modal of the date picker

[2020-11-18 12:58] abrostamian opened #121 "problem with react fuse"
i want use it in react fuse with tailwind css freamwork but its not work correct and date selector will not in correct place

[2020-11-18 13:15] Pancake-9407 opened #122 "Can i translate dates in Chinese?"
I want to translate dates to Chinese? How could i do ?

[2020-11-21 16:31] abrostamian commented on #121
i check it again and find out flex have problem with transform and transform and no one cant use this lib with flex layout

[2020-11-23 13:50] sinafbd opened #123 "is it possible to pick multiple dates?"
I want to choose date range in calendar. is this possible?

[2020-11-25 14:31] mberneti commented on #123
@sinafbd The range picker feature is the last item on the to-do list. You can check it out on the readme.

[2020-11-29 14:09] mashouf commented on #56
Hi, I still face some issue with the tether element falls out of the window even in desktop mode.
[https://pasteboard.co/JCBXGQF.png](url)
I look at some of the code and tether document and I check out the constraint property of tether component with attachment defined as together

By adding the pin option as true we can have the element more visible than going off-screen like this, I see this pro

[2020-11-30 08:35] mashouf opened #124 "tether element falls out of the window even in desktop mode."
Hi, I still face some issue with the tether element falls out of the window even in desktop mode.
[https://pasteboard.co/JCBXGQF.png](url)
I look at some of the code and tether document and I check out the constraint property of tether component with attachment defined as together

By adding the pin option as true we can have the element more visible than going off-screen like this, I see this pro

[2020-12-01 06:47] mehdichitforoosh opened #125 "Minutes dropdown in Time picker in (1,2,3,4,5,...,59,60) format"
سلام.وقت بخیر.
می تونیم property در کامپوننت داشته باشیم که با true کردن آن محدوده دقیقه ها به صورت ترتیبی از ۱ تا ۶۰ ایجاد بشه
در حالت فعلی ۵ دقیقه‌ای افزایش پیدا کرده
سپاس.

[2020-12-01 07:49] NimaKaviyani opened #126 "Problem with pages without scrolling"
Hi,
The date-picker does not display well when the page does not scroll or the field is at the top of the page.

![Untitled](https://user-images.githubusercontent.com/32512803/100711503-9cac2280-33c6-11eb-8bdb-91469fe8c0c9.png)

[2020-12-09 08:55] arashkey opened #127 "max property not working correctly"
با عرض سلام
متاسفانه در زمانی که مقدار
max
مشخص میشود، در زمانی که هیچ تاریخی انتخاب نشود، خود به خود تاریخ امروز انتخاب می شود.
حتی در زمانی که تاریخ معتبر قبل از تاریخ امروز باشد

[2020-12-09 09:05] arashkey commented on #127
[جواب](https://github.com/mberneti/react-datepicker2/issues/114) رو پیدا کردم
اما به نظر منم باید مقدار پیش فرض فالس باشه

[2020-12-09 09:05] #127 closed, assigned to nobody

[2020-12-12 16:15] mberneti commented on #127
@arashkey
<p dir="rtl">درسته ولی بخاطر backward compatibility اینکار رو نمی‌کنیم.</p>

[2020-12-18 22:42] arashkey opened #129 "How can I set tabIndex for datepicker"
با عرض سلام
من چطوری می تونم
[tabIndex](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex)
 رو برای این کنترل تنظیم کنم؟

[2020-12-18 22:49] arashkey commented on #129
اگر امکان داره توی فایل
[DatePicker.js](https://github.com/mberneti/react-datepicker2/blob/master/src/components/DatePicker.js#L286)
مقدار زیر رو اضافه کنید
 {...this.props.calendarContainerProps}
تا با مقدار دهی کردنش ، هر
property
 که خواستیم بتونیم بهش اضافه کنیم
سپاس

[2021-01-10 07:23] omidazm94 commented on #108
hello,
I have this problem too. i mean this is an amazing component but i can't even change the dafault grey border from styles. i don't know if i'm really noob or this is a very complicated project to customize. really appreciate if someone can help.
thanks in advance

[2021-02-28 04:23] anniestudent commented on #23
Is it possible to disable a particular weekday e.g. Friday?

[2021-03-04 22:52] DanialModiri opened #132 "Is There any disable option"
all i can say is, this is best jalali datepicker i have ever work with in react, but why is there is no simple option to disable datepicker.

i did look for that in source but and found nothing,

[2021-03-07 11:52] omid-mardaneh opened #133 "two calendar"
is it possible put two calendar beside gether

[2021-03-26 21:55] AminTakhtiNejad commented on #120
is there any way to set 'z-index' for the modal of the component?

[2021-03-27 08:42] farhadsarlak opened #134 "Close the calendar when you press the Tab or Enter key"
Please add a new option to the calendar that, if enabled, can be closed with the Tab Or Enter keys on the calendar,

لطفا یک آپشن جدید به تقویم اضافه کنید که در صورت فعال بود آن، بتوان با کلیدهای تب و اینتر تقویم بسته شود

[2021-03-28 07:07] ma2web commented on #48
showTodayButton={false} not working in typescript

[code]

[2021-03-29 16:12] mahmoudrezenaseri opened #135 "masked input"
Is There any way to add masked input and limit the string length which entered by user with keyboard ?

[2021-03-30 12:46] nazari2079 opened #136 "onMonthChange trigger when defaultMonth is set"
onMonthChange triggered when defaultMonth is set, and if you make an api call in your monthChange function it's going to run that function for ever (It seems to be stuck in a loop)

[2021-03-30 12:56] nazari2079 opened #137 "how can I change value from outside of the calendar?"
I have a button for changing the value but when I change the value and pass it to calendar with value props it doesn't change and value is working just like how a default value should work, value just set once when the calendar is mounted.

[2021-04-07 16:47] mhr1019 opened #138 "1400 problem on ios"
سلام. توی آی او اس روز اول و دوم سال رو 1ام نشون میده و این باعث شده تا تقویم تاریخ تمام روزها رو یک روز جلوتر نشون بده.

[2021-04-17 12:54] ardalan-nhd opened #139 "Clear the input"
Is there a way to clear the input? Whenever i try to clear the input? the value just changes to a random day and it won't get cleared

[2021-04-17 12:57] ardalan-nhd commented on #139
Well it won't change to a random day. It will be set to today's date

[2021-04-22 08:35] mashouf commented on #139
Hi @ardalan-nhd
You can find in many closed issues ( as one of me too ) you can set [setTodayOnBlur](https://github.com/mberneti/react-datepicker2/pull/103/commits/ded43855195b4e8fba0553f13e9aab41ef55672b#diff-70d836e1e5c9f4c4ee3fab8b76f74f5cR43) to false and as @mberneti said the default value is true for backward compatibility issues!

[2021-04-26 20:59] alinjf commented on #139
you can set the value to null

[2021-04-26 21:00] alinjf commented on #137
@nazari2079 you can you send a screen shot from your code?

[2021-05-01 12:02] vahidimani commented on #132
I have same issues
@mberneti

[2021-05-02 07:33] Masoud-94 opened #140 "please add an ability to remove auto compilation"
I was unable to find a way to disable auto compilation.
Guide me on how to achieve it or implement it, please.
Basically, I want this: autoComplete="off" on the input field.

[2021-05-02 08:08] Masoud-94 commented on #108
I have no idea that this is the best way or not, but I did change the style by overriding them like this.
You can also add some custom classes to the DatePicker component and change those as well.
@omidazm94
.tether-element {
	z-index: 1;
	.calendarContainer {
		width: 280px;
		padding: 5px;
		background-color: #242428;
 }
}

[2021-05-02 17:56] seyyed-sina commented on #123
thank you, but when it will release?

[2021-06-01 17:09] curlybom commented on #120
It is not really a clean way to fix it, but I increased the z-index by global CSS selector.

`.tether-element.tether-element-attached-top.tether-element-attached-center.tether-target-attached-bottom.tether-target-attached-center.tether-enabled {
  z-index: 999999 !important;
}`

It would be nice if the package included this fix

[2021-06-26 08:16] ahmadi-akbar commented on #118
same here +1

[2021-06-29 16:24] mogaozq opened #143 "Legacy context API warning"
Calendar component triggers this two warnings in React 17.x releases :
### First warning
**Warning**: Legacy context API has been detected within a strict-mode tree.
The old API will be supported in all 16.x releases, but applications using it should migrate to the new version.

Please update the following components: Calendar, Heading

### Second warning
**Warning**: Using `UNSAFE_componentWillRe

[2021-07-20 15:28] miladreisi commented on #104
First define a ref and then use that ref to open the DatePicker
const datePickerRef = useRef(null);
datePickerRef.current.setOpen(true)

[2021-07-20 15:28] miladreisi commented on #104
First define a ref and then use that ref to open the calendar
const datePickerRef = useRef(null);
datePickerRef.current.setOpen(true)

[2021-08-19 05:18] BashirIrshad opened #144 "want it for Pashto Language"
Hi, could you please customize it for the months of Pashto Language. it only needs to change the months Array from Persian months names into Pashto months names. the Pashto months names array is as bellow.
const monthsJalaali = [
  'حمل',
  'ثور',
  'جوزا',
  'سرطان',
  'اسد',
  'سنبله',
  'میزان',
  'عقرب',
  'قوس',
  'جدي',
  'دلوه',
  'حوت'
];

[2021-08-22 15:31] alihemmatnia opened #145 "TypeError: Cannot read property 'object' of undefined"
hi

TypeError: Cannot read property 'object' of undefined
(anonymous function)
C:/Users/ali/Documents/erp/node_modules/react-datepicker-fa/dist/index.js:21010
  21007 | }(_react.Component);
  21008 |
  21009 | Heading.propTypes = {

  21011 |   isGregorian: _react.PropTypes.bool
  21012 | };
  21013 | Heading.contextTypes

my code:

state ={dateValue:moment()}

 <DatePicker

[2021-08-22 16:08] alihemmatnia opened #146 "× TypeError: Cannot read property 'body' of undefined"
×
TypeError: Cannot read property 'body' of undefined
getOffsetParent
C:/Users/ali/src/getOffsetParent.js:28
  25 | //        }
  26 | // 统一的 offsetParent 方法
  27 | const doc = utils.getDocument(element);

     | ^  29 | let parent;
  30 | let positionStyle = utils.css(element, 'position');
  31 | const skipStatic = positionStyle === 'fixed' || positionStyle === 'absolute';

my code:

 <DatePicker

[2021-08-29 12:04] #129 closed, assigned to nobody

[2021-08-29 15:36] imansalhi opened #147 "goes off the screen frame"
When the picker opens, it goes out of the screen frame [as you see here](https://imgur.com/Upyz5Jl)

any solution?

[2021-09-01 14:53] BashirIrshad commented on #119
Hello dear friend. did you get any solution or alternative datePicker for Pashto Months?  I also want to change the month names.

[2021-09-01 16:56] MassoudSharifi commented on #119
you can use patch-package for changing the month names
the alternative datePicker package is antd-jalali

On Wed, Sep 1, 2021 at 7:24 PM Bashir Irshad ***@***.***>
wrote:

[2021-09-02 14:02] BashirIrshad commented on #119
thanks in advance, but where is the patch-package located in react-datePicker2

[2021-09-04 12:54] MassoudSharifi commented on #119
@BashirIrshad patch-package is an npm package. that you can use that to change library code